<div align='center'>
<%= image_tag('expensio.jpg') %><br>

<h3>Helping you to keep track of your work expenses</h3><br>

<p>Expens.io is here to help you keep on top of your expenses. Sign up today and
  see what we can do for you.</p><br>

  <div>
    <a id='site-buttons' href="/users/sign_up" class="btn btn-primary">Create an account</a>
    <a id='site-buttons' href="/users/sign_in" class="btn btn-primary">Log in</a>
  </div>

</div>
