<div align='center'>
<h1>Expens.io</h1><br>

<h3>Helping you to keep track of your work expenses</h3><br>

<p>Expens.io is here to help you keep on top of your expenses. Sign up today and
  see what we can do for you.</p><br>

  <a href="/users/sign_up" class="btn btn-primary">Create an account</a>
  <a href="/users/sign_in" class="btn btn-primary">Log in</a>

</div>
