// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-buttons a {
  background-color: #6cc5cc;
  border: none;
  transition-duration: 0.2s
}

#welcome-buttons a:hover {
  background-color: #519399;
}
