<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">
<hr>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <%= link_to "Expens.io", root_path %>
  </div>
</footer>
